/* Width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #59ced0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  opacity: 0%;
  border-radius: 10px;
  border: 3px solid #d5d5d5;
}

/* Disable ability to scroll horizontally */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/* Scrollbar changes do not apply to Firefox (yet) because they strove to be different I guess :( */

/* .scroll {
  width: 10%;
  height: 100px;
  border: 1px solid grey;
  overflow: scroll;
  display: inline-block;
}
.scroll-color-auto {
  scrollbar-color: auto;
}
.scroll-color-colors {
  scrollbar-color: orange lightyellow;
} */